/*--body-background-img--*/

@if $body_background_type=='bg_img' {
    .o_no_thread_window .o_mail_thread .a_right .o_thread_message_core .o_mail_info,
    .o_no_thread_window .o_mail_activity .a_right .o_thread_message_core .o_mail_info {
        color: #000000!important
    }
    .o_thread_window .o_mail_thread .a_right .o_thread_message_core .o_mail_info,
    .o_thread_window .o_mail_activity .a_right .o_thread_message_core .o_mail_info {
        color: #000000!important
    }
    .o_mail_thread .a_left .o_thread_message_core .o_mail_info,
    .o_mail_activity .a_left .o_thread_message_core .o_mail_info {
        color: #000000!important
    }
    .o_mail_thread .o_thread_message .o_thread_message_core .o_mail_info,
    .o_mail_activity .o_thread_message .o_thread_message_core .o_mail_info {
        color: #000000!important
    }
    .o_control_panel {
        background-color: #ffffff8a;
    }
    .o_main_navbar .o_user_menu {
        background-color: $header_bg_color
    }
    // .breadcrumb-item.active { color: #ffffff;} /*--.breadcrumb--*/
    .o_kanban_view.o_kanban_grouped {
        background-color: transparent;
    }
    /*--kanban--*/
    .o_graph .o_graph_container .o_graph_svg_container svg {
        background: #ffffffc7;
    }
    /*--graph--*/
    .o_searchview {
        padding: 1px 25px 2px 5px;
        border-bottom: none;
    }
    /*--searchview--*/
    .o_form_view .o_form_sheet_bg>.o_form_sheet {
        background: transparent;
    }
    /*--form_view--*/
    html .o_web_client>.o_main .o_main_content .o_content {
        background-color: #ffffff8a;
    }
    .o_field_number.o_input,
    .o_field_number .o_input {
        background-color: transparent!important;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input {
        background-color: transparent!important;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background-color: transparent!important;
    }
    .o_mail_discuss .o_mail_discuss_content {
        background-color: transparent!important;
    }
    /*--discss--*/
    .o_base_settings .o_setting_container .settings {
        background-color: #ffffff8a;
    }
    /*--settings--*/
    .o_web_settings_dashboard {
        background: transparent!important;
    }
    .o_main_navbar {
        background-color: transparent;
    }
    /*--list--*/
    // .o_list_view {
    //     background-color: #ffffff8a;
    // }
    .o_list_view thead {
        background-color: #ffffff8a;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff8a;
    }
    .ui-sortable tr,
    .o_action {
        background-color: #ffffff8a;
    }
    .o_mail_thread .o_thread_message.o_mail_not_discussion,
    .o_mail_activity .o_thread_message.o_mail_not_discussion {
        border-bottom: 1px solid #9c9c9c;
    }
    .o_mail_thread .o_thread_date_separator,
    .o_mail_activity .o_thread_date_separator {
        border-bottom: 1px solid #9c9c9c;
    }
    /*--list--*/
    @media (max-width: 767px) {
        .o_control_panel .btn.o_enable_searchview {
            background: transparent;
            color: #ffff;
        }
        .o_searchview {
            background: transparent!important;
        }
        .o_control_panel>.o_cp_right>.o_cp_pager .o_pager_counter {
            color: #ffff;
        }
    }
    .o_form_view {
        background-color: transparent;
    }
    .o_form_view .o_form_sheet_bg {
        background: transparent;
    }
    .o_form_view .o_form_statusbar {
        background-color: transparent;
    }
    .o_web_client {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/web/image?model=sh.back.theme.config.settings&id=1&field=body_background_image');
        background-repeat: no-repeat;
        background-size: cover;
        color: $body_font_color;
        font-family: $body_font_family!important;
    }
    .o_control_panel {
        font-family: $body_font_family!important;
    }
    .breadcrumb {
        background-color: transparent!important;
        font-family: $body_font_family!important;
    }
}


/*--body-background-img--*/


/*
===========================================================================================
Version 13 SCSS start here
===========================================================================================
*/

html .o_web_client>.o_action_manager>.o_action>.o_content {
    background-color: #ffffff8a;
}

@if $body_background_type=='bg_img' {
    .o_form_view .o_ChatterContainer .o_Chatter , .o_form_view .o_ChatterContainer .o_Chatter .o_ThreadView.o_Chatter_thread .o_MessageList,
    .o_form_view .o_ChatterContainer .o_Chatter .o_ThreadView.o_Chatter_thread,
    .o_form_view .o_ChatterContainer .o_Chatter .o_ThreadView.o_Chatter_thread .o_Message{background: transparent;}
    @media only screen and (max-width: 767.98px) {
        .o_form_view .o_form_sheet_bg {
            background: transparent;
            border-bottom: 0px;
        }
    }
}