.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
    //color:adjust-hue($primaryColor,50%);
    //text-shadow: 0 -1px 0 darken($primaryColor, 10%);	
}

.btn-primary:hover {
    background-color: $primary_hover;
    border-color: $primary_hover;
    //color:adjust-hue($primary_hover,50%);
    //text-shadow: 0 -1px 0 darken($primary_hover, 10%);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: $primary_active;
    border-color: $primary_active;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none;
}

@if $theme_style !='style_7' {
    .btn-secondary,
    .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .o-dropdown .dropdown-toggle.btn,
    .o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .btn {
        background-color: $secondaryColor;
        border-color: $secondaryColor;
        //color:adjust-hue($secondaryColor,50%);
        //text-shadow: 0 -1px 0 darken($secondaryColor, 10%);
    }
}

.btn-secondary:hover {
    background-color: $secondary_hover;
    border-color: $secondary_hover;
    //color:adjust-hue($secondary_hover,50%);
    //text-shadow: 0 -1px 0 darken($secondary_hover, 10%);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    //color: #212529;
    //text-shadow: 0 -1px 0 darken($secondary_active, 10%);
    //background-color: $secondary_active;
    //border-color: $secondary_active;
}

.o_dropdown .dropdown-toggle:first-child {
    /*background-color: $secondaryColor;
border-color: $secondaryColor;*/
    border: 0px;
    margin-right: 5px;
}

.o_ChatterTopbar_actions button.btn.btn-link {
    background: $primaryColor;
    color: #fff;
    margin-right: 3px;
}
.o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .btn.active{background: $primaryColor;
    color: #fff;}

/* .o_ChatterTopbar{position: sticky;top: 40px;z-index: 1;} */


/*--button style--*/


/*--style-1--*/

@if $button_style=='style_1' {
    .btn,
    .o_form_sheet .sh_full_screen_icon_div .full_form_toggle {
        border-radius: 0px;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 0px !important;
        color: #212121;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff !important;
        opacity: 1;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_control_panel .o_form_buttons_view .o_form_button_edit {
        border-radius: 0px !important;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_statusbar_buttons .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 0px !important;
    }
    .o_statusbar_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .modal-footer .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
    }
    .modal-footer .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .modal-footer .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 0px !important;
    }
    .modal-footer .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_favorites_menu .btn-primary {
        border: 1.5px solid $primaryColor!important;
    }
    .o_favorites_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_group_by_menu .btn-primary {
        border: 1.5px solid $primaryColor!important;
    }
    .o_group_by_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn-primary {
        border: 1.5px solid $primaryColor!important;
    }
    .o_filters_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn-secondary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 0px !important;
    }
    .o_filters_menu .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_widget_Discuss .o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .btn.btn-primary.rounded,
    .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new {
        border-radius: 0px !important;
    }
    @media (max-width: 1023px) {
        .o_cp_bottom_left .o_cp_buttons .o_form_button_save:before {
            color: #fff;
        }
        .o_control_panel .o_form_buttons_view .o_form_button_edit:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o_list_button_add:before {
            color: #fff;
        }
    }
    @media only scren and (max-width: 767.98px) {
        .o_cp_buttons .btn.btn-primary {
            border-radius: 0px !important;
        }
    }
}


/*--style-1--*/


/*--style-2--*/

@if $button_style=='style_2' {
    .o_cp_bottom_left .o_cp_buttons .btn {
        border-radius: 4px!important;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
        border-radius: 4px!important;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 4px!important;
        color: #212121;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_form_view .o_form_statusbar>.o_statusbar_buttons .btn {
        border-radius: 4px!important;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
        border-radius: 4px!important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_statusbar_buttons .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 4px!important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    }
    .o_statusbar_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .modal-footer .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        border-radius: 4px!important;
    }
    .modal-footer .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .modal-footer .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 4px!important;
    }
    .modal-footer .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_favorites_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        border-radius: 4px!important;
    }
    .o_favorites_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_chatter .o_chatter_topbar>.btn {
        border: 1.5px solid $primaryColor;
        border-radius: 4px!important;
    }
    .o_chatter .o_chatter_topbar>.btn:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_group_by_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        border-radius: 4px!important;
    }
    .o_group_by_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        border-radius: 4px!important;
    }
    .o_filters_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn-secondary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 4px!important;
    }
    .o_filters_menu .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_field_x2many_list_row_add a {
        border-radius: 4px!important;
    }
    .o_form_sheet .sh_full_screen_icon_div .full_form_toggle {
        border-radius: 0px 0px 0px 4px;
    }
    .btn {
        border-radius: 4px!important;
    }
    //.o_readonly_modifier .btn{border-radius:0px!important;}
    .o_cp_right .o_search_options .o_dropdown .btn {
        border-radius: 4px;
    }
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
    .btn-group>.btn-group:not(:last-child)>.btn {
        border-radius: 4px;
    }
    .o_cp_switch_activity {
        border-radius: 4px!important;
    }
    .btn-group>.btn:not(:first-child),
    .btn-group>.btn-group:not(:first-child)>.btn {
        border-radius: 4px!important;
    }
    @media (max-width: 1023px) {
        .o_cp_bottom_left .o_cp_buttons .o_form_button_save:before {
            color: #fff;
        }
        .o_control_panel .o_form_buttons_view .o_form_button_edit:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o_list_button_add:before {
            color: #fff;
        }
    }
}


/*--style-2--*/


/*--style-3--*/

@if $button_style=='style_3' {
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn {
        border: 1.5px solid $primaryColor;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary,
    .o_Discuss .o_Discuss_content .o_ThreadView .o_ChannelMemberList .btn.btn-secondary,
    .o_calendar_container .o_calendar_view .o_cw_popover.popover .o_cw_body .card-footer .btn.btn-secondary.o_cw_popover_delete,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn,
    .o_control_panel .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .btn.btn-secondary,
    .o_form_view .o_form_sheet_bg .o_form_sheet [name="send_buttons"] .btn.btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        color: #212121;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn:hover,
    .o_Discuss .o_Discuss_content .o_ThreadView .o_ChannelMemberList .btn.btn-secondary:hover,
    .o_form_view .o_form_sheet_bg .o_form_sheet [name="send_buttons"] .btn.btn-secondary:hover,
    .o_control_panel .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .btn.btn-secondary:hover,
    .o_calendar_container .o_calendar_view .o_cw_popover.popover .o_cw_body .card-footer .btn.btn-secondary.o_cw_popover_delete:hover {
        background-color: $primary_hover !important; 
        color: #fff;
        opacity: 1;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn,
    .o_widget_Discuss .o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .btn.btn-primary.rounded,
    .o_calendar_container .o_calendar_view .o_cw_popover.popover .o_cw_body .card-footer .btn.btn-primary.o_cw_popover_edit,
    .o_popover .popover-body .o_ChannelInvitationForm .btn.btn-primary,
    .o_calendar_container .o_calendar_view .o_cw_popover.popover .o_cw_body .card-footer .btn.btn-secondary.o_cw_popover_delete,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn,
    .o_control_panel .o_cp_bottom_right .o_search_options .o-dropdown .btn,
    .o_Discuss .o_Discuss_content .o_ThreadView .o_ChannelMemberList .btn.btn-secondary,
    .o_control_panel .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .btn.btn-secondary,
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_list_buttons .o_list_selection_box,
    .o_form_view .o_form_sheet .o_notebook .o_list_view .o_field_x2many_list_row_add a,
    .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new,
    .o_content .o_form_sheet_bg .o_list_view .o_field_x2many_list_row_add a,
    .o_Chatter .o_ChatterTopbar.o_Chatter_topbar .o_ChatterTopbar_actions button.btn.btn-link,
    .o_Chatter .o_Composer .o_Composer_actionButtons .o_Composer_actionButton.o_Composer_button.btn,
    .o_base_settings .settings .o_settings_container .o_setting_right_pane .btn.btn-primary.o_web_settings_invite,
    .o_content .o_kanban_view .o_column_quick_create .o_quick_create_unfolded .o_kanban_header .input-group .input-group-append .btn.btn-primary.o_kanban_add,
    .o_kanban_view .o_kanban_record .btn.btn-primary.oe_kanban_action.oe_kanban_action_button,
    .o_control_panel .o_cp_bottom_left .btn-group .btn.btn-primary,
    .o_control_panel .o_cp_bottom_left .btn-group .btn.btn-secondary,
    .o_content .o_kanban_view .oe_module_vignette .oe_module_desc .oe_module_action .btn.btn-secondary,
    .o_content .o_kanban_view .oe_module_vignette .oe_module_desc .oe_module_action .btn.btn-info,
    .modal.o_technical_modal.show.o_web_editor_dialog .modal-content .modal-body .btn.btn-sm {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .o_control_panel .o_cp_bottom_right .btn-group.o_cp_switch_buttons .btn,
    .o_control_panel .o_cp_bottom_right .o_cp_pager .o_pager .btn,
    .modal.o_technical_modal.show.o_web_editor_dialog .modal-content .modal-body input.form-control,
    .modal.o_technical_modal.show.o_web_editor_dialog .modal-content .modal-body select,
    .o_menu_systray .o_MessagingMenu .o_MessagingMenu_dropdownMenu .btn.btn-secondary,
    .o_calendar_view .fc-view-container .o_cw_popover.popover.card .card-footer .o-calendar-attendee-status .btn.btn-secondary.dropdown-toggle{
        border-radius: 0px 10px 0px 10px !important;
    }
    .o_statusbar_buttons .btn {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_statusbar_buttons .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
    }
    .o_statusbar_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .modal-footer .btn {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .modal-footer .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
    }
    .modal-footer .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .modal-footer .btn-secondary {
        border: 1.5px solid $primaryColor;
        background: #fff;
    }
    .modal-footer .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_chatter .o_chatter_topbar>.btn {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .o_favorites_menu .btn,
    .modal .btn.btn-secondary.o_attach {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .o_favorites_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_favorites_menu .btn-secondary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
    }
    .o_popover .popover-body .o_ChannelInvitationForm .btn.btn-secondary,
    .o_calendar_container .o_calendar_view .o_cw_popover.popover .o_cw_body .card-footer .btn.btn-secondary.o_cw_popover_delete,
    .o_form_view .o_form_sheet_bg .o_form_sheet [name="send_buttons"] .btn.btn-secondary ,
    .o_form_view .o_field_many2manytags .badge-pill.badge {
        border-radius: 0px 15px 0px 15px !important;
    }
    /*
.o_group_by_menu .btn{box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;border-radius: 0px 15px 0px 15px!important;}
.o_group_by_menu .btn.btn-primary:hover{background:$primary_hover;opacity: 1;color:#fff}
.o_group_by_menu .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
*/
    .o_filters_menu .btn {
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;
        border-radius: 0px 15px 0px 15px!important;
    }
    .o_filters_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn-secondary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
    }
    .o_filters_menu .btn-secondary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
    }
    .o_filters_menu .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_form_sheet .sh_full_screen_icon_div .full_form_toggle {
        border-radius: 0px 0px 0px 0px;
    }
    @media (max-width:1023px) {
        .o_cp_bottom_left .o_cp_buttons .o_form_button_save:before {
            color: #fff;
        }
        .o_control_panel .o_form_buttons_view .o_form_button_edit:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o_list_button_add:before {
            color: #fff;
        }
    }
    @media only screen and (max-width: 767.98px) {
        .o_form_statusbar .o_statusbar_buttons_dropdown.btn.btn-secondary.dropdown-toggle,
        .o_form_statusbar .o_statusbar_buttons_dropdown.btn.btn-secondary.o_dropdown_toggler,
        .o_form_statusbar .o_statusbar_status .btn.dropdown-toggle,
        .o_Discuss .o_Discuss_thread .o_ThreadViewTopbar .o_ThreadViewTopbar_actions .btn.btn-secondary,
        .o_control_panel .sh_top1 .btn.o_toggle_searchview_full,
        .o_control_panel .o_cp_switch_buttons.show .dropdown-menu {
            border-radius: 0px 10px 0px 10px;
        }
    }
}


/*--style-3--*/


/*--style-4--*/

@if $button_style=='style_4' {
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary,
    .o_form_sheet .sh_full_screen_icon_div .full_form_toggle,
    .o_widget_Discuss .o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .btn.btn-primary.rounded,
    .o_control_panel .btn.btn-primary,
    .o_control_panel .btn.btn-secondary,
    .o_form_view .o_form_sheet_bg .btn.btn-primary,
    .o_form_view .o_form_sheet_bg .btn.btn-secondary,
    .o_control_panel .o_searchview .o_searchview_input_container .o_searchview_facet,
    .o_control_panel .o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label,
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_selection_box {
        border-radius: 0px !important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary {
        background: transparent;
        box-shadow: none;
        border-color: transparent !important;
        color: $primaryColor;
        font-weight: 500;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover {
        background: $secondaryColor;
        color: #212529;
        opacity: 1;
        border-color: $secondaryColor;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn {
        box-shadow: none;
    }
    .o_form_statusbar .o_statusbar_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_form_statusbar .o_statusbar_buttons .btn-secondary {
        background: transparent;
        box-shadow: none;
        border-color: transparent!important;
        color: $primaryColor;
        font-weight: 500;
    }
    .o_form_statusbar .o_statusbar_buttons .btn-secondary:hover {
        background: $secondaryColor;
        color: #212529 !important;
        opacity: 1;
        border-color: $secondaryColor;
    }
    .modal-footer .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .modal-footer .btn-secondary {
        background: transparent;
        box-shadow: none;
        border-color: transparent!important;
        color: $primaryColor;
        font-weight: 500;
    }
    .modal-footer .btn-secondary:hover {
        background: $secondaryColor;
        color: #212529;
        opacity: 1;
        border-color: $secondaryColor;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        border-color: transparent;
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_favorites_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_group_by_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_filters_menu .btn-secondary {
        background: transparent;
        box-shadow: none;
        border-color: transparent!important;
        color: $primaryColor;
        font-weight: 500;
    }
    .o_filters_menu .btn-secondary:hover {
        background: $secondaryColor;
        color: #212529;
        opacity: 1;
        border-color: $secondaryColor;
    }
    .o_chatter .o_chatter_topbar>.btn:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary {
        border: 1.5px solid transparent !important;
    }
    @media (max-width: 1023px) {
        .o_cp_bottom_left .o_cp_buttons .o_form_button_save:before {
            color: #fff;
        }
        .o_control_panel .o_form_buttons_view .o_form_button_edit:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before {
            color: #fff;
        }
        .o_cp_bottom_left .o_cp_buttons .o_list_button_add:before {
            color: #fff;
        }
    }
    @media only screen and (max-width: 767.98px) {
        .o_web_client.o_touch_device .o_action_manager .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:focus,
        .o_web_client.o_touch_device .o_action_manager .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.active,
        .modal .modal-dialog .modal-content .modal-footer .btn-secondary:focus,
        .modal .modal-dialog .modal-content .modal-footer .btn-secondary.active {
            background: $secondaryColor !important;
            color: #212529 !important;
            opacity: 1;
            border-color: $secondaryColor !important;
        }
    }
}


/*--style-4--*/


/*--style-5--*/

@if $button_style=='style_5' {
    .o_form_sheet .sh_full_screen_icon_div .full_form_toggle {
        border-radius: 0px 0px 0px 4px;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary {
        background: #fff;
        border-radius: 4px!important;
        border: 1.5px solid transparent;
        color: #212121;
    }
    .o_content .o_form_view .o_statusbar_buttons .btn-secondary.btn{ border: 1.5px solid transparent !important;}
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
        border-radius: 4px!important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn {
        box-shadow: none;
        border-radius: 4px!important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        text-shadow: none!important;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 1.5px solid $primaryColor;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
    }
    .o_statusbar_buttons .btn-secondary {
        background: #fff;
        border-radius: 4px!important;
        border-color: transparent;
    }
    .o_statusbar_buttons .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
        border-radius: 4px!important;
    }
    .modal-footer .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .modal-footer .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
        border-color: transparent!important;
    }
    .modal-footer .btn-secondary {
        background: #fff;
        border-radius: 4px!important;
        border-color: transparent;
        border-color: transparent!important;
    }
    .modal-footer .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
        border-radius: 4px!important;
    }
    .o_chatter .o_chatter_topbar>.btn {
        border: 1.5px solid $primaryColor;
        background: #fff!important;
        border-radius: 4px!important;
        color: #212529!important;
        text-shadow: none;
    }
    .o_chatter .o_chatter_topbar>.btn:hover {
        background: $primary_hover!important;
        opacity: 1;
        color: #fff!important;
        border-radius: 4px!important;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
    }
    .o_favorites_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .o_favorites_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
    }
    .o_group_by_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .o_group_by_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
    }
    .o_filters_menu .btn.btn-primary {
        border: 1.5px solid $primaryColor!important;
        background: #fff;
        border-radius: 4px!important;
        color: #212529;
        text-shadow: none;
    }
    .o_filters_menu .btn.btn-primary:hover {
        background: $primary_hover;
        opacity: 1;
        color: #fff;
        border-radius: 4px!important;
    }
    .o_filters_menu .btn-secondary {
        background: #fff;
        border-radius: 4px!important;
        border-color: transparent;
        border-color: transparent!important;
    }
    .o_filters_menu .btn-secondary:hover {
        background: $primary_hover;
        color: #fff;
        opacity: 1;
        border-radius: 4px!important;
    }
    .o_control_panel .o_form_buttons_view .o_form_button_edit:before {
        color: #212121;
    }
    .o_cp_right .o_search_options .o_dropdown .btn {
        border-radius: 4px;
    }
    .btn,
    .o_field_x2many_list_row_add a {
        border-radius: 4px!important;
    }
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
    .btn-group>.btn-group:not(:last-child)>.btn {
        border-radius: 4px;
    }
    .o_cp_switch_activity {
        border-radius: 4px!important;
    }
    .btn-group>.btn:not(:first-child),
    .btn-group>.btn-group:not(:first-child)>.btn {
        border-radius: 4px!important;
    }
    @if $mobile_icon_style=="floating" {
        @media only screen and (max-width: 767.98px) {
            .o_cp_bottom_left .o_cp_buttons .o_list_button_add:before, .o_cp_bottom_left .o_cp_buttons .o_calendar_buttons .o-calendar-button-new:before {
                color: #212121;
            }
        }
    }
}


/*--style-5--*/


/*--style-2--*/

@if $button_style=='style_8' {
    .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        border: 2px solid $primaryColor;
        color: #fff!important;
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        transition: all .3s ease-in-out;
        color: #000!important;
        background-color: rgba(0, 129, 255, 0);
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary {
        border: 2px solid $secondaryColor!important;
        color: #fff!important;
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover {
        background: $secondary_hover!important;
        color: #000!important;
        transition: all .3s ease-in-out;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 2px solid $primaryColor;
        color: #fff!important;
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        transition: all .3s ease-in-out;
        color: #000!important;
        background-color: rgba(0, 129, 255, 0)!important;
    }
    .o_statusbar_buttons .btn.btn-secondary {
        border: 2px solid $secondaryColor!important;
        color: $secondaryColor!important;
    }
    .o_statusbar_buttons .btn.btn-secondary:hover {
        background: $secondary_hover!important;
        color: #fff!important;
        transition: all .3s ease-in-out;
    }
}


/*--style-2--*/


/*--style-3--*/

@if $button_style=='style_7' {
    .o_cp_bottom_left .o_cp_buttons .btn.btn-primary {
        border: 2px solid $primaryColor;
        color: #fff!important;
        border-radius: 100px!important
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover {
        transition: all .3s ease-in-out;
        color: #000!important;
        background-color: rgba(0, 129, 255, 0);
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary {
        border: 2px solid $secondaryColor!important;
        color: #000!important;
        border-radius: 100px!important
    }
    .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover {
        background: $secondary_hover!important;
        color: #fff!important;
        transition: all .3s ease-in-out;
    }
    .o_statusbar_buttons .btn.btn-primary {
        border: 2px solid $primaryColor;
        color: #fff!important;
        border-radius: 100px!important
    }
    .o_statusbar_buttons .btn.btn-primary:hover {
        transition: all .3s ease-in-out;
        color: #000!important;
        background-color: rgba(0, 129, 255, 0)!important;
    }
    .o_statusbar_buttons .btn.btn-secondary {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border: 2px solid $secondaryColor!important;
        color: #000!important;
        border-radius: 100px!important
    }
    .o_statusbar_buttons .btn.btn-secondary:hover {
        background: $secondary_hover!important;
        color: #fff!important;
        transition: all .3s ease-in-out;
    }
}


/*--style-3--*/


/*--style-4--*/

@if $button_style=='style_6' {
    .o_cp_bottom_left .o_cp_buttons .btn {
        border-radius: 100px!important;
    }
    .o_statusbar_buttons .btn {
        border-radius: 100px!important;
    }
}


/*--style-4--*/


/*--button style--*/


/* 9-11-2020 */

@if $mobile_icon_style=='floating' {
    @media only screen and (max-width: 576px) {
        .o_cp_buttons .btn.btn-primary {
            border: 1.5px solid $primaryColor !important;
            font-weight: 500;
        }
        .o_cp_buttons .btn-secondary {
            border: 1.5px solid $primaryColor;
            background: #fff;
        }
    }
}