/*== 4-3-2021 ==*/

a:focus,
a:hover {
    text-decoration: none
}

.btn,
a {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

:focus {
    box-shadow: 0 0 0 transparent;
    outline: 0!important
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator {
    background: #F9F9F9;
    border-radius: 3px;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .displayText {
    margin-top: 110px;
    background: 0 0;
    border: none;
    color: #FFF;
    padding-right: 20px;
    float: right;
    display: inline-block;
    overflow: hidden
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-operation,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear:focus {
    font-size: 20px;
    font-weight: 100;
    box-shadow: 0 0 0 transparent;
    outline: 0
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc:focus {
    background: 0 0;
    color: #8a8a8a;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border: none
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-operation:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-operation:hover {
    background: #E8E8E8;
    color: #444
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-operation:focus {
    outline: 0
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .equals,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .equals:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .equals:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear:hover {
    color: #FFF
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear:focus {
    color: #FFF;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border: transparent
}

::-moz-focus-inner {
    border: 0!important
}

.o_menu_systray .sh_calc_util .sh_calc_results {
    position: absolute;
    top: 100%;
    min-width: 240px;
    margin: 0.125rem 0 0;
    font-size: 1.08333333rem;
    color: #4c4c4c;
    list-style: none;
    border-radius: 3px;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    width: 240px;
    max-height: 400px;
    z-index: 1100;
    right: 0;
    left: auto;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .row {
    margin-left: 0px;
    margin-right: 0px;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .displayText {
    margin-top: 10px !important;
    background: 0 0;
    border: none;
    color: #FFF;
    font-size: 30px !important;
    line-height: 35px;
    font-weight: 100;
    padding-right: 10px;
    float: right;
    display: inline-block;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 0px;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .row {
    justify-content: center;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad button.btn-calc {
    background: linear-gradient(to bottom, #e8e8e8, transparent 50%, rgba(0, 0, 0, .07));
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .btn-operation {
    background: linear-gradient(to bottom, #e8e8e8, transparent 50%, rgba(0, 0, 0, 0.07));
    color: $primaryColor;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border: none
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator {
    box-shadow: 0 6px 12px -4px rgba(black, 0.25);
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .displayBox {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: $primaryColor;
    padding: 0;
    overflow: hidden;
    padding-left: 5px;
    justify-content: flex-end;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #sqrt,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #square,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #divide,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #multiply,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #subtract,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #add,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #equals {
    background: $primaryColor !important;
    color: #fff !important;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #sqrt:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #sqrt:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #square:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #square:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #divide:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #divide:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #multiply:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #multiply:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #subtract:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #subtract:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #add:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #add:focus,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #equals:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #equals:focus {
    box-shadow: none !important;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .btn-calc:hover {
    color: $primaryColor;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad button.btn-calc:hover,
.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .btn-operation:hover {
    box-shadow: -6px -6px 16px 0 #ffffff80 inset, 6px 6px 16px 0 #d1cdc780;
}

.o_menu_systray .sh_calc_util .open_calc:hover,
.o_menu_systray .sh_calc_util .open_calc:focus,
.o_menu_systray .sh_calc_util:active,
.o_menu_systray .sh_calc_util.active {
    background: $header_hover_color;
}

.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.o_menu_systray .sh_calc_util ::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

@media only screen and (max-width: 375px) {
    .o_menu_systray .sh_calc_util {
        position: unset;
    }
    .o_menu_systray .sh_calc_util .sh_calc_results {
        position: fixed;
        top: 8%;
        left: 0;
    }
}