@if $chatter_position=='sided' {
    @media only screen and (min-width: 1420px) {
        .o_form_view .o_form_sheet_bg, .o_sale_order .o_form_sheet_bg {
            width: 65%;
            display: inline-block;
            border-right: 1px solid #ddd;
        }
        .o_form_view .o_FormRenderer_chatterContainer {
            display: inline-block;
            min-width: 35%;
            margin: 0;
            padding: 0px 5px 48px;
        }
        .o_form_view .o_FormRenderer_chatterContainer {
            max-width: 35% !important;
            position: absolute;
            top: 0;
        }
        .o_form_view .o_form_sheet_bg>.o_form_sheet {
            border: 1px solid #cfd4db;
            border-width: 1px 1px 1px 1px !important;
        }
        .o_form_view .o_form_statusbar {
            border-right: 1px solid #ddd;
        }
        .o_form_view .o_form_sheet_bg {
            height: 100%;
            overflow: auto;
        }
        .o_form_view .o_FormRenderer_chatterContainer {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 530px;
            padding: 0;
            height: 100%;
            overflow: auto;
        }
        .o_form_view {
            height: 100% !important;
        }
        .o_form_view .o_form_sheet_bg {
            border-bottom: 0px solid #ddd !important;
            border-right: 0px solid #ddd !important;
        }
        .o_form_view .o_FormRenderer_chatterContainer {
            height: 100% !important;
            border-left: 1px solid #ddd;
        }
        .o_form_view .o_Chatter {
            width: 100% !important;
        }
        .o_form_view .o_Chatter_fixedPanel {
            top: 0px !important;
            padding: 0px 12px;
        }
        .o_form_view .o_ChatterTopbar_actions button.btn.btn-link {
            margin-right: 2px;
            padding: 5px;
            font-size: 11px;
            text-transform: uppercase;
        }
        .o_cannot_create .o_form_view .o_form_sheet_bg {
            width: 100%;
        }
        .o_form_view .o_form_sheet_bg .o_form_sheet .o_FormRenderer_chatterContainer {
            width: 100%;
            max-width: 100% !important;
            overflow: unset;
            position: unset;
            border-left: 0px;
        }
        /* full width form*/
        .o_action_manager .o_content.sh_full_content .o_form_sheet_bg {
            width: 100%;
            overflow: unset;
            height: auto;
            display: inline;
        }
        .o_action_manager .o_content.sh_full_content .o_FormRenderer_chatterContainer {
            max-width: 1140px !important;
            min-width: 1140px;
            position: unset;
            overflow: unset;
            margin: 0px auto;
            height: auto !important;
            border-left: 0px !important;
            display: flex;
            padding: 1rem 1rem 3rem;
        }
        .o_action_manager .o_content.sh_full_content .o_form_view {
            height: auto !important;
        }
        // .o_action_manager .o_content.sh_full_content .o_form_view .o_ChatterTopbar_actions button.btn.btn-link{font-size: 1.08333333rem;}
    }
}