    // Form views
    .o_form_view {
        .o_form_sheet {
            /* max-width: calc(100% - 32px); */
        }
        @include media-breakpoint-down(sm) {
            min-width: auto;
            // Avoid overflow on forms with title and/or button box
            .oe_button_box,
            .oe_title,
            {
                max-width: 100%;
            }
            // Avoid overflow on modals
            .o_form_sheet {
                min-width: auto;
            }
            // Render website inputs properly in phones
            .o_group .o_field_widget.o_text_overflow {
                // Overrides another !important
                width: auto !important;
            }
            // Make all input groups vertical
            .o_group_col_6 {
                width: 100%;
            }
            // Statusbar buttons dropdown for mobiles
            .o_statusbar_buttons_dropdown {
                border: {
                    bottom: 0;
                    radius: 0;
                    top: 0;
                }
                height: 100%;
            }
            .o_statusbar_buttons>.btn {
                border-radius: 0;
                border: 0;
                width: 100%;
                margin-bottom: 0.2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .o_statusbar_status {
                // Arrow from rightmost button exceeds allowed width
                .o_arrow_button:first-child::before {
                    content: none;
                    display: none;
                }
            }
            // Full width in form sheets
            .o_form_sheet,
            .oe_chatter,
            {
                min-width: auto;
                max-width: 98%;
            }
            // Settings pages
            .app_settings_block {
                .row {
                    margin: 0;
                }
            }
        }
    }