@if $form_element_style=='style_1' {
    .o_input {
        padding-right: 0 !important;
        padding-left: 0 !important;
        background-color: transparent;
        background-repeat: no-repeat;
        -webkit-background-size: 0 2px, 100% 1px;
        background-size: 0 2px, 100% 1px;
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: .429rem 1.072rem;
        border-radius: 0px;
    }
    .o_input {
        background-position: center bottom, center -webkit-calc(100% - 1px);
    }
    .o_input:focus,
    .o_input:focus-within {
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        outline: 0;
        -webkit-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        float: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor)), -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor));
        background-image: -webkit-linear-gradient($primaryColor, $primaryColor), -webkit-linear-gradient($primaryColor, $primaryColor);
        background-image: -o-linear-gradient($primaryColor, $primaryColor), -o-linear-gradient($primaryColor, $primaryColor);
        background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: transparent !important;
        font-size: 14px !important;
        border-bottom: 2px solid $primaryColor;
    }
    select.o_input {
        height: 35px;
    }
    // .o_form_view .o_group.o_inner_group > tbody > tr > td{vertical-align: initial;}
}

@if $form_element_style=='style_2' {
    .o_input {
        border: 1.5px solid rgba(0, 0, 0, .15);
        transition: all .7s ease;
        box-shadow: none;
        outline: none;
        background: transparent;
        padding: 6px 10px;
        border-radius: 0px;
        position: relative;
        margin-bottom: 5px !important;
    }
    .o_input:hover,
    .o_required_modifier.o_input:hover,
    .o_required_modifier .o_input:hover,
    .o_field_number.o_input:hover,
    .o_field_number .o_input:hover {
        border-color: rgba(0, 0, 0, .35);
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 16px;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #ececec !important;
        font-size: 14px !important;
    }
    select.o_input {
        height: 35px;
    }
}

@if $form_element_style=='style_3' {
    .o_input {
        border: 1.5px solid rgba(0, 0, 0, .15);
        transition: all .7s ease;
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
        outline: none;
        background: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 5px !important;
    }
    .o_input:hover,
    .o_input:focus,
    .o_required_modifier.o_input:hover,
    .o_required_modifier .o_input:hover,
    .o_field_number.o_input:hover,
    .o_field_number .o_input:hover,
    .o_required_modifier.o_input:focus,
    .o_required_modifier .o_input:focus,
    .o_field_number.o_input:focus,
    .o_field_number .o_input:focus {
        border: 1.5px solid #999;
        background: #fff;
        border-color: $primaryColor;
        box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 16px;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #ececec !important;
        font-size: 14px !important;
    }
    select.o_input {
        height: 35px;
    }
}

@if $form_element_style=='style_4' {
    .o_input {
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
        transition: all .9s ease;
        box-shadow: none;
        outline: none;
        background: #fafafa;
        padding: 6px 10px;
        border-radius: 0px;
        position: relative;
        margin-bottom: 5px !important;
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 18px;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #ececec !important;
        font-size: 14px !important;
    }
    .o_input:focus,
    .o_input:focus-within {
        border-color: rgba(0, 0, 0, .3);
        box-shadow: 0 -50px 0 #ececec inset;
    }
    select.o_input {
        height: 35px;
    }
}

@if $form_element_style=='style_5' {
    .o_input {
        border: 1.5px solid rgba(0, 0, 0, .15);
        transition: all .7s ease;
        box-shadow: none;
        outline: none;
        background: transparent;
        padding: 6px 10px;
        border-radius: 0px 15px 0px 15px;
        position: relative;
        margin-bottom: 5px !important;
    }
    .o_input:hover {
        border: 1.5px solid $primaryColor;
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2) !important;
        transition: all .7s ease;
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 18px;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #ececec !important;
        font-size: 14px !important;
    }
    .badge.badge-pill.dropdown {
        border-radius: 0px 15px 0px 15px !important;
    }
    select.o_input {
        height: 35px;
    }
}

@if $form_element_style=='style_6' {
    .o_input {
        background-color: transparent;
        background-color: #FFF;
        background-repeat: no-repeat;
        -webkit-background-size: 0 1px, 100% 1px;
        background-size: 0 1px, 100% 1px;
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        border-bottom: 2px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: 7px 10px !important;
        border-radius: 0px;
        margin-bottom: 5px !important;
    }
    .o_input {
        background-position: left bottom, left -webkit-calc(100% - 1px);
    }
    .o_input:focus,
    .o_input:focus-within {
        -webkit-background-size: 100% 1px, 100% 1px !important;
        background-size: 100% 1px, 100% 1px !important;
        outline: 0;
        -webkit-transition-duration: .7s;
        -o-transition-duration: .7s;
        transition-duration: .7s;
        float: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor)), -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor));
        background-image: -webkit-linear-gradient($primaryColor, $primaryColor), -webkit-linear-gradient($primaryColor, $primaryColor);
        background-image: -o-linear-gradient($primaryColor, $primaryColor), -o-linear-gradient($primaryColor, $primaryColor);
        background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 18px;
    }
    .o_input.o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 8px;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #e5e5e5 !important;
        font-size: 14px !important;
    }
    select.o_input {
        height: 35px;
    }
}

@if $form_element_style=='style_7' {
    .o_input {
        line-height: 34px;
        background: #fff;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        padding: 0 20px;
        color: #666;
        -webkit-transition: all .7s ease;
        -o-transition: all .7s ease;
        -moz-transition: all .7s ease;
        transition: all .7s ease;
        margin-bottom: 5px !important;
        border: 1px solid #ccc;
        border-top: 2px solid #ccc;
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button {
        right: 18px;
    }
    .o_input:focus,
    .o_input:hover {
        border-top: 2px solid $primaryColor !important;
    }
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        background: #ececec !important;
        font-size: 14px !important;
    }
    select.o_input {
        height: 35px;
    }
}

@if $theme_style=='style_6' AND $form_element_style=='style_6' {
    .o_required_modifier.o_input,
    .o_required_modifier .o_input,
    .o_field_number.o_input,
    .o_field_number .o_input {
        border-bottom: 2px solid $primaryColor;
    }
}

.o_action .o_input .o_input {
    border: 0px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    background: none;
}