.sh_search_results {
    position: fixed !important;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    border: none;
    width: 100vw;
    z-index: 111;
    top: 45px;
    background: $header_bg_color;
    ;
    max-height: calc(100% - #{$o-navbar-height});
}

.sh_search_results .dropdown-item:hover {
    color: #333232;
}

.sh_search_results .dropdown-item:active {
    color: #333232;
}

.sh_search_results .dropdown-item {
    // color: #a1a1a1;
    color: #c1c1c1;
}

// .sh_search_input {
//     margin-top: 5px;
// }

.sh_search_input .usermenu_search_input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $header_font_color;
    box-shadow: none;
    color: $header_font_color;
    border-radius: unset;
}

.sh_search_input .usermenu_search_input::placeholder {
    color: $header_font_color;
}

.sh_search_input .usermenu_search_input2 {
    background: transparent;
    border: none;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
    color: #a1a1a1;
    border-radius: unset;
}

.sh_search_input .usermenu_search_input2::placeholder {
    color: #a1a1a1;
}

.sh_search_input .input-group-text {
    background: transparent;
    border: none;
    color: $header_font_color;
    // margin-top: 6px;
}

.search_company_detail {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    margin-top: 5px;
    color: #a1a1a1;
}