/* loader style */


/* loader style_1 */

@if $loading_style=='style_1' {
    .oe_blockui_spin,
    .oe_blockui_spin:before,
    .oe_blockui_spin:after {
        background: #ffffff !important;
        -webkit-animation: load1 1s infinite ease-in-out !important;
        animation: load1 1s infinite ease-in-out !important;
        width: 1em !important;
        height: 3em !important;
    }
    .oe_blockui_spin {
        color: #ffffff !important;
        text-indent: -9999em !important;
        margin: 10px auto !important;
        position: relative !important;
        font-size: 11px !important;
        -webkit-transform: translateZ(0) !important;
        -ms-transform: translateZ(0) !important;
        transform: translateZ(0) !important;
        -webkit-animation-delay: -0.16s !important;
        animation-delay: -0.16s !important;
    }
    .oe_blockui_spin:before,
    .oe_blockui_spin:after {
        position: absolute !important;
        top: 0 !important;
        content: '' !important;
    }
    .oe_blockui_spin:before {
        left: -1.5em !important;
        -webkit-animation-delay: -0.32s !important;
        animation-delay: -0.32s !important;
    }
    .oe_blockui_spin:after {
        left: 1.5em !important;
    }
    .o_blockUI .o_message {
        display: none;
    }
    // .o_blockUI{top: 45% !important;}
    @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
}


/* loader style_2 */

@if $loading_style=='style_2' {
    .oe_blockui_spin {
        color: #ffffff !important;
        font-size: 10px !important;
        margin: 70px auto !important;
        width: 1em !important;
        height: 1em !important;
        border-radius: 50% !important;
        position: relative !important;
        text-indent: -9999em !important;
        -webkit-animation: load4 1.3s infinite linear !important;
        animation: load4 1.3s infinite linear !important;
        -webkit-transform: translateZ(0) !important;
        -ms-transform: translateZ(0) !important;
        transform: translateZ(0) !important;
    }
    .blockUI {
        color: white !important;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    .o_blockUI .o_message {
        display: none;
    }
    @-webkit-keyframes load4 {
        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }
        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }
        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }
        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }
    @keyframes load4 {
        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }
        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }
        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }
        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }
}


/* loader style_3 */

@if $loading_style=='style_3' {
    .oe_blockui_spin {
        width: 4rem;
        height: 4rem !important;
        margin: 2rem;
        border-radius: 50%;
        border: 0.7rem solid rgba(#fff, 0.3);
        border-top-color: #fff;
        animation: 1.5s spin infinite linear;
        .oe_blockui_spin {
            border-bottom-color: #fff;
        }
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}


/* loader style_4 */

@if $loading_style=='style_4' {
    .oe_blockui_spin {
        width: 5rem;
        height: 5rem !important;
        margin: 2rem;
        border-radius: 50%;
        border: 1rem solid #fff;
        transform: translate(50%);
        animation: 1s ripple ease-out infinite;
    }
    .openerp.oe_blockui_spin_container {
        display: flex;
        justify-content: center;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes ripple {
        from {
            transform: scale(0);
            opacity: 1;
        }
        to {
            transform: scale(1);
            opacity: 0;
        }
    }
}


/* loader style_5 */

@if $loading_style=='style_5' {
    .oe_blockui_spin {
        width: 50px;
        height: 50px;
        display: inline-block;
        padding: 0px;
        opacity: 0.5;
        border: 3px solid #fff;
        -webkit-animation: loader 1s ease-in-out infinite alternate;
        animation: loader 1s ease-in-out infinite alternate;
    }
    .oe_blockui_spin:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 3px solid #fff;
    }
    .oe_blockui_spin:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 3px solid #fff;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader {
        from {
            transform: rotate(0deg) scale(1, 1);
            border-radius: 0px;
        }
        to {
            transform: rotate(360deg) scale(0, 0);
            border-radius: 50px;
        }
    }
    @-webkit-keyframes loader {
        from {
            -webkit-transform: rotate(0deg) scale(1, 1);
            border-radius: 0px;
        }
        to {
            -webkit-transform: rotate(360deg) scale(0, 0);
            border-radius: 50px;
        }
    }
}


/* loader style_6 */

@if $loading_style=='style_6' {
    .oe_blockui_spin {
        display: inline-block;
        width: 40px;
        height: 40px !important;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #fff;
        border-top: 3px solid #fff;
        -webkit-animation: loader6 1.8s ease-in-out infinite alternate;
        animation: loader6 1.8s ease-in-out infinite alternate;
    }
    .oe_blockui_spin:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 0px;
        right: 0px;
        bottom: 5px;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader6 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(720deg);
        }
    }
    @-webkit-keyframes loader6 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(720deg);
        }
    }
}


/* loader style_7 */

@if $loading_style=='style_7' {
    .oe_blockui_spin {
        display: inline-block;
        width: 50px;
        height: 4px !important;
        top: 50% !important;
        background: #fff;
        -webkit-animation: loader7 1.5s linear infinite;
        animation: loader7 1.5s linear infinite;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader7 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(720deg);
        }
    }
    @-webkit-keyframes loader7 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(720deg);
        }
    }
}


/* loader style_8 */

@if $loading_style=='style_8' {
    .oe_blockui_spin {
        display: inline-block;
        width: 0;
        height: 0 !important;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid lighten($primaryColor, 25%);
        border-top: 20px solid #fff;
        -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
        animation: loader5 1.2s ease-in-out infinite alternate;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader5 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(720deg);
        }
    }
    @-webkit-keyframes loader5 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(720deg);
        }
    }
}


/* loader style_9 */

@if $loading_style=='style_9' {
    .oe_blockui_spin {
        filter: saturate(3);
        width: 0.1px;
        height: 0.1px !important;
        border: 30px solid transparent;
        border-radius: 5px;
        animation: loader 3s ease-in infinite, spin 1s linear infinite;
    }
    .oe_blockui_spin::before {
        filter: saturate(0.3);
        display: block;
        position: absolute;
        z-index: -1;
        margin-left: -30px;
        margin-top: -30px;
        content: '';
        height: 0.1 !important;
        width: 0.1;
        border: 30px solid transparent;
        border-radius: 5px;
        animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
    }
    .oe_blockui_spin::after {
        display: block;
        position: absolute;
        z-index: 2;
        margin-left: -10px;
        margin-top: -30px;
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: white;
    }
    .o_blockUI {
        display: flex;
        justify-content: center;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader {
        0% {
            border-bottom-color: transparent;
            border-top-color: $primaryColor;
        }
        25% {
            border-left-color: transparent;
            border-right-color: lighten($primaryColor, 20%);
        }
        50% {
            border-top-color: transparent;
            border-bottom-color: lighten($primaryColor, 40%);
        }
        75% {
            border-right-color: transparent;
            border-left-color: lighten($primaryColor, 20%);
        }
        100% {
            border-bottom-color: transparent;
            border-top-color: $primaryColor;
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(-360deg)
        }
    }
}


/* loader style_10*/

@if $loading_style=='style_10' {
    .oe_blockui_spin {
        position: relative;
    }
    .oe_blockui_spin:before,
    .oe_blockui_spin:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #fff;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 50%;
        box-shadow: -.5em 0 0 #fff;
        animation: loader-10 1s linear infinite;
    }
    .oe_blockui_spin:after {
        top: 50%;
        bottom: 0;
        animation-delay: .25s;
    }
    @keyframes loader-10 {
        0%,
        100% {
            box-shadow: -0.5em 0 0 transparent;
            background-color: #fff;
        }
        50% {
            box-shadow: -0.5em 0 0 #fff;
            background-color: transparent;
        }
    }
    .oe_blockui_spin {
        font-size: 50px;
        line-height: 100px;
    }
    .oe_blockui_spin {
        display: inline-block;
        width: 1em;
        height: 1em !important;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
}


/* loader style_11 */

@if $loading_style=='style_11' {
    .oe_blockui_spin {
        display: inline-block;
        width: 1em;
        height: 1em !important;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
        font-size: 50px;
        line-height: 100px;
    }
    .oe_blockui_spin {
        width: 0.8em;
        height: 1em;
        border: 0.1em #fff solid;
        border-radius: 0px 0px 0.2em 0.2em;
        position: relative;
    }
    .oe_blockui_spin:after,
    .oe_blockui_spin:before {
        position: absolute;
        content: "";
    }
    .oe_blockui_spin:after {
        width: 0.2em;
        height: 50%;
        border: 0.1em #fff solid;
        border-left: none;
        border-radius: 0px 0.5em 0.5em 0px;
        left: calc(100% + .1em);
        top: 0.1em;
    }
    .oe_blockui_spin:before {
        width: 0.1em;
        height: 0.3em;
        background-color: #fff;
        top: -0.3em;
        left: 0.05em;
        box-shadow: 0.2em 0px 0px 0px #fff, 0.2em -0.2em 0px 0px #fff, 0.4em 0px 0px 0px #fff;
        animation: loader-24 1s linear infinite alternate;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader-24 {
        0% {
            height: 0px;
        }
        100% {
            height: 6px;
        }
    }
}


/* loader style_12 */

@if $loading_style=='style_12' {
    .oe_blockui_spin {
        display: inline-block;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
        font-size: 30px;
        line-height: 100px;
    }
    .oe_blockui_spin {
        width: 2em;
        height: .50em !important;
        border: .05em #fff solid;
        border-radius: .1em;
        background: linear-gradient(-60deg, transparent 0%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
        background-size: 1em 2em;
        background-position: 0 0;
        animation: loader-42 0.8s infinite linear;
    }
    .o_blockUI .o_message {
        display: none;
    }
    .o_blockUI .o_spinner img {
        width: 0px !important;
    }
    @keyframes loader-42 {
        from {
            background-position: 0 0;
        }
        to {
            background-position: -2em 0;
        }
    }
}