/*====TO USE GOOGLE FONT======*/

@if $is_used_google_font==True {
    @import url("https://fonts.googleapis.com/css?family=#{unquote($body_google_font_family)}");
    $body_font_family: $body_google_font_family;
}


/*====TO USE GOOGLE FONT======*/

@if $login_page_style=='style_1' {
    body.bg-100,
    body.bg-100 .card {
        font-family: $body_font_family!important;
    }
    @if $login_page_background_type=='bg_color' {
        body.bg-100 .card input {
            padding-left: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center bottom, center calc(100% - 1px);
            background-size: 0 2px, 100% 1px;
            transition: background 0s ease-out;
            border-bottom: 1px solid #ccc;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            padding: .429rem 1.072rem;
            border-radius: 0px;
        }
        body.bg-100 .card input:focus {
            -webkit-background-size: 100% 2px, 100% 1px;
            background-size: 100% 2px, 100% 1px;
            outline: 0;
            -webkit-transition-duration: .3s;
            -o-transition-duration: .3s;
            transition-duration: .3s;
            float: none;
            background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);
            border: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        body.bg-100 .justify-content-between.mt-2.d-flex.small {
            justify-content: center !important;
        }
        body.bg-100 .justify-content-between.mt-2.d-flex.small a {
            color: $header_bg_color;
        }
        body.bg-100 .btn.btn-link.btn-sm,
        body.bg-100 .btn-group-sm>.btn.btn-link body.bg-100 {
            color: $header_bg_color!important;
        }
        .bg-100 {
            color: $header_bg_color!important;
        }
        body.bg-100 .text-center.small.mt-4.pt-3.border-top {
            margin-top: .5rem !important;
        }
        body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
            color: $header_bg_color;
        }
        body.bg-100 .btn.btn-link.btn-sm {
            color: $header_bg_color;
            padding-top: 15px;
        }
        body.bg-100 .o_database_list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $login_page_background_color !important;
        }
        .bg-100 {
            background-color: $login_page_background_color !important;
        }
        body.bg-100 .container .bg-100 {
            background-color: $login_page_box_color !important;
        }
        body.bg-100 .container.pb-5 {
            padding-top: 2rem;
        }
        body.bg-100 .container.mb-5 {
            margin-bottom: 0rem !important;
        }
        body.bg-100 .container.pb-5 .mt-5 {
            margin-top: 0rem !important;
        }
        body.bg-100 .o_database_list {
            width: 390px;
            max-width: 100%!important;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            padding: 0px 25px;
        }
        body.bg-100 .container .bg-100 {
            background-color: $login_page_box_color !important;
            color: #212529;
        }
        body.bg-100 .card .form-control:focus {
            box-shadow: none;
        }
        body.bg-100 .btn-secondary {
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
        body.bg-100 .container input[type=text] {
            background-color: transparent;
            border: none;
            color: #0d0d0d;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            padding: 15px 25px 15px 0px;
            border-bottom: 1px solid #dcdcdc;
            border-radius: 0px;
        }
        body.bg-100 .container input[type=password] {
            background-color: transparent;
            border: none;
            color: #0d0d0d;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            padding: 15px 25px 15px 0px;
            border-bottom: 1px solid #dcdcdc;
            border-radius: 0px;
        }
        body.bg-100 .container .btn-primary {
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            box-shadow: none;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $primaryColor;
        }
        body.bg-100 .container .oe_login_form .justify-content-between.mt-2 {
            margin-top: 1rem !important;
        }
    }
    @if $login_page_background_type=='bg_img' {
        body.bg-100 .card input {
            padding-left: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center bottom, center calc(100% - 1px);
            background-size: 0 2px, 100% 1px;
            transition: background 0s ease-out;
            border-bottom: 1px solid #ccc;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            padding: .429rem 1.072rem;
            border-radius: 0px;
        }
        body.bg-100 .card input:focus {
            -webkit-background-size: 100% 2px, 100% 1px;
            background-size: 100% 2px, 100% 1px;
            outline: 0;
            -webkit-transition-duration: .3s;
            -o-transition-duration: .3s;
            transition-duration: .3s;
            float: none;
            background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);
            border: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        body.bg-100 .o_database_list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        body.bg-100 .btn.btn-link.btn-sm,
        body.bg-100 .btn-group-sm>.btn.btn-link body.bg-100 {
            color: $header_bg_color!important;
        }
        .bg-100 {
            color: $header_bg_color!important;
        }
        body.bg-100 .text-center.small.mt-4.pt-3.border-top {
            margin-top: .5rem !important;
        }
        body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
            color: $header_bg_color;
        }
        body.bg-100 .btn.btn-link.btn-sm {
            color: $header_bg_color;
            padding-top: 15px;
        }
        body.bg-100 .justify-content-between.mt-2.d-flex.small a {
            color: $header_bg_color;
            padding-top: 15px;
        }
        body.bg-100 .justify-content-between.mt-2.d-flex.small {
            justify-content: center!important;
        }
        body.bg-100 .o_database_list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        body.bg-100 {
            background: linear-gradient( rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.5)), url('/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_background_image');
            background-repeat: no-repeat;
            background-size: cover;
            color: $header_bg_color;
            font-family: $body_font_family!important;
        }
        body.bg-100 .container.pb-5 {
            padding-top: 2rem;
        }
        body.bg-100 .container.pb-5 {
            padding-bottom: 0px!important;
        }
        body.bg-100 .container.pb-5 .mt-5 {
            margin-top: 0rem !important;
        }
        body.bg-100 .container.mb-5 {
            margin-bottom: 0rem !important;
        }
        body.bg-100 .o_database_list {
            width: 390px;
            max-width: 100%!important;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            padding: 0px 25px;
        }
        body.bg-100 .container .bg-100 {
            background-color: $login_page_box_color !important;
            color: #212529;
        }
        body.bg-100 .card.form-control:focus {
            box-shadow: none;
        }
        body.bg-100 .container input[type=text] {
            background-color: transparent;
            border: none;
            color: #0d0d0d;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            padding: 15px 25px 15px 0px;
            border-bottom: 1px solid #dcdcdc;
            border-radius: 0px;
        }
        body.bg-100 .container input[type=password] {
            background-color: transparent;
            border: none;
            color: #0d0d0d;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            padding: 15px 25px 15px 0px;
            border-bottom: 1px solid #dcdcdc;
            border-radius: 0px;
        }
        body.bg-100 .btn-secondary {
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
        body.bg-100 .container .btn-primary {
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            box-shadow: none;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
        body.bg-100 .container .oe_login_form .justify-content-between.mt-2 {
            margin-top: 1rem !important;
        }
    }
}

@if $login_page_style=='style_2' {
    body.bg-100,
    body.bg-100 .card {
        font-family: $body_font_family!important;
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small {
        justify-content: center !important;
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small a {
        color: $header_bg_color;
        padding-top: 15px;
    }
    body.bg-100 .card input {
        padding-left: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-size: 0 2px, 100% 1px;
        transition: background 0s ease-out;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: .429rem 1.072rem;
        border-radius: 0px;
    }
    body.bg-100 .card input:focus {
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        outline: 0;
        -webkit-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        float: none;
        background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    body.bg-100 .btn.btn-link.btn-sm,
    body.bg-100 .btn-group-sm>.btn.btn-link body.bg-100 {
        color: $header_bg_color!important;
    }
    .bg-100 {
        color: $header_bg_color!important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top {
        margin-top: .5rem !important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
        color: $header_bg_color;
    }
    body.bg-100 .btn.btn-link.btn-sm {
        color: $header_bg_color;
        padding-top: 15px;
    }
    body.bg-100 .sh_backmate_th_login_left_img_st_2::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background-color:#000000;
        //opacity: .7;
    }
    body.bg-100 .sh_backmate_th_login_left_img_st_2 {
        background: url('/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_banner_image');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        background-position-x: center;
    }
    body.bg-100 .mt-5 {
        margin-top: 0rem !important;
    }
    body.bg-100 .sh_backmate_th_login_left_img_st_2.col-lg-6 {
        padding: 0px;
    }
    body.bg-100 .sh_backmate_th_login_left_img_st_2 img {
        width: 100%
    }
    body.bg-100 .container-fluid.pb-5 {
        padding-bottom: 0rem !important;
    }
    body.bg-100 .container-fluid.mb-5 {
        margin-bottom: 0rem !important;
    }
    body.bg-100 .o_database_list {
        width: 390px;
        max-width: 100%!important;
        border-radius: 0px;
        overflow: hidden;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        padding: 0px 25px;
    }
    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
        color: #212529;
    }
    body.bg-100 {
        background-color: $login_page_box_color !important;
    }
    body.bg-100 .card .form-control:focus {
        box-shadow: none;
    }
    body.bg-100 .card input[type=text] {
        background-color: transparent;
        border: none;
        color: #0d0d0d;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 18px 5px;
        background: #efefefcc;
        border-left: 5px solid $header_bg_color;
        border-radius: 0px;
    }
    body.bg-100 .card input[type=password] {
        background-color: transparent;
        border: none;
        color: #0d0d0d;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 18px 5px;
        background: #efefefcc;
        border-left: 5px solid $header_bg_color;
        border-radius: 0px;
    }
    body.bg-100 .card .btn-primary {
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .card .btn-secondary {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .btn-primary:not(:disabled):not(.disabled):active,
    body.bg-100 .btn-primary:not(:disabled):not(.disabled).active,
    body.bg-100 .show>.btn-primary.dropdown-toggle {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .oe_login_buttons a.btn {
        padding-top: 25px;
    }
    body.bg-100 .container .oe_login_form .justify-content-between.mt-2 {
        margin-top: 1rem !important;
    }
    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
    }
    body.bg-100 .o_database_list {
        background-color: $login_page_box_color !important;
    }
    @media (min-width:575px) {
        body.bg-100 .card .card-body {
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    @media (max-width: 574px) {
        body.bg-100 .sh_backmate_th_login_left_img_st_2 {
            display: none;
        }
        body.bg-100 .o_database_list {
            box-shadow: none
        }
    }
    body.bg-100 .btn-primary {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .btn-secondary:not(:disabled):not(.disabled):active,
    body.bg-100 .btn-secondary:not(:disabled):not(.disabled).active,
    body.bg-100 .show>.btn-secondary.dropdown-toggle {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
}

body.bg-100 .alert-danger {
    color: #c70015;
    border-color: #c70015;
    background: transparent
}

body.bg-100 .card .card-body input::placeholder {
    color: transparent!important;
}

body.bg-100 .o_database_list .card-body {
    background: transparent !important;
    color: unset;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    body.bg-100 .o_database_list.col-sm-6 .card-body {
        width: 65%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body.bg-100 .o_database_list.col-sm-6 .card-body {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {
    body.bg-100 .sh_backmate_th_login_left_img_st_2 {
        display: none;
    }
    body.bg-100 .o_database_list.col-sm-6 {
        display: contents;
    }
}

@media only screen and (max-width: 400px) {
    body.bg-100 .o_database_list {
        max-width: 325px !important;
    }
}

@if $login_page_style=='style_3' {
    body.bg-100,
    body.bg-100 .card {
        font-family: $body_font_family!important;
    }
    body.bg-100 {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1128' viewBox='0 0 2000 1128'%3E%3Cpolygon fill-opacity='.03' points='0 1077.844 392.627 778.443 1504.99 1127.745 0 1127.745'/%3E%3Cpolygon fill-opacity='.02' points='392.216 778.443 283.294 0 0 0 0 666.504'/%3E%3Cpolygon fill-opacity='.03' points='1000 0 2000 1009.98 2000 439.94 1749.817 0'/%3E%3C/svg%3E"), linear-gradient(to right bottom, #77717e, #c9a8a9) !important;
        background-size: cover;
    }
    body.bg-100 .card.o_database_list {
        border-radius: 0px;
    }
}


/* 9-11-2020 */

@if $login_page_style=='style_1' {
    @media only screen and (max-width: 992px) and (min-width: 768px) {
        body.bg-100 .o_database_list {
            top: 50%;
        }
    }
    @media only screen and (max-width: 767.98px) {
        body.bg-100 .o_database_list {
            top: 50%;
        }
        body.bg-100 .o_database_list {
            max-width: 325px !important;
        }
    }
}

@if $login_page_style=='style_2' {
    @media only screen and (max-width: 992px) {
        body.bg-100 .card-body {
            top: 50%;
        }
        body.bg-100 .container-fluid.mb-5.pb-5 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}

@if $login_page_style=='style_3' {
    body.bg-100 .card-body .oe_login_form .form-group.field-db .input-group .input-group-append .btn.btn-secondary {
        background: $primaryColor;
    }
    @media only screen and (max-width: 1024px) {
        body.bg-100 .container.mb-5.pb-5 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}