.o_main_navbar>ul>li>a,
.o_main_navbar>ul>li>label,
.o_main_navbar .o_navbar_apps_menu.dropdown .o_dropdown_toggler a.full {
    color: $header_font_color;
}

.o_main_navbar .o_navbar_apps_menu.dropdown .o_dropdown_toggler>span {
    margin-top: 5px;
}

.o_main_navbar>ul>li>a:hover,
.o_main_navbar>ul>li>label:hover {
    color: #fff;
    background-color: $header_hover_color;
}

.o_main_navbar>a:focus,
.o_main_navbar>a:active,
.o_main_navbar>a:focus:active,
.o_main_navbar>button:focus,
.o_main_navbar>button:active,
.o_main_navbar>button:focus:active {
    background-color: $header_active_color;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: $header_active_color;
}

.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
    background-color: $header_active_color;
}


/* 9-9-2021 */

.o_main_navbar .o_menu_brand {
    padding-left: 16px;
}

.o_main_navbar .o_dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div button.o_dropdown_toggler {
    padding: 0px 16px !important;
}

.o_main_navbar .o_dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div.show button.o_dropdown_toggler {
    background: $header_active_color;
}


/* 10-9-2021 */

.o_main_navbar .o_menu_systray .sh_global_search .sh_search_container,
.o_main_navbar .o_menu_systray .sh_global_search .sh_search_container .sh_search_input,
.o_main_navbar .o_menu_systray .sh_global_search .sh_search_container .input-group,
.o_main_navbar .o_menu_systray .o_dropdown.o_user_menu button.o_dropdown_toggler {
    height: 48px;
}

.o_main_navbar .o_menu_systray .sh_global_search .sh_search_container .input-group input.usermenu_search_input.form-control {
    margin-top: 4px;
}

.o_main_navbar .o_menu_systray .o_user_menu .o_user_avatar {
    transform: translateY(1px);
    margin-right: 5px;
}

.o_main_navbar .o_menu_systray .o_night_mode:hover {
    background: $header_hover_color;
}

@if $body_background_type=='bg_img' {
    .o_main_navbar>ul.o_menu_systray>li.o_night_mode,
    .o_main_navbar>ul.o_menu_systray>li,
    .o_main_navbar>ul.o_menu_systray .o_switch_company_menu .o_dropdown_toggler,
    .o_main_navbar .o_menu_brand,
    .o_main_navbar .o_menu_sections .o_dropdown .o_dropdown_toggler,
    .o_main_navbar .o_menu_sections .o_dropdown,
    .o_main_navbar .o_menu_sections li.o_dropdown_item.o_nav_entry {
        height: 52px;
    }
    .o_main_navbar>ul.o_menu_systray .o_switch_company_menu .o_dropdown_toggler:hover,
    .o_main_navbar .o_menu_sections .o_dropdown .o_dropdown_toggler:hover {
        background: $header_hover_color;
    }
    .o_main_navbar .o_dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div .o_dropdown_menu.o-popper-position {
        top: 52px !important;
    }
    .o_main_navbar .o_dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div button.o_dropdown_toggler {
        height: 53px;
    }
    @media only screen and (max-width: 767.98px) {
        .o_main_navbar .o_dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div button.o_dropdown_toggler,
        .o_main_navbar .o_menu_systray .sh_global_search {
            height: 50px;
        }
        .o_web_client .o_form_view .oe_button_box .btn.oe_stat_button{background: #fff;}
    }
}

@if $theme_style=='style_6' and $body_background_type=='bg_img' {
    .o_main_navbar .o_menu_sections .dropdown.o-dropdown .dropdown-toggle,.o_main_navbar .o_menu_systray > div,
    .o_main_navbar .dropdown.o_navbar_apps_menu.o-dropdown .dropdown-toggle,
    .o_main_navbar .dropdown.o_navbar_apps_menu.sh_backmate_theme_appmenu_div{height: 50px;}
    .o_main_navbar .o_menu_sections .dropdown.o-dropdown:hover,.o_main_navbar .o_menu_sections .dropdown:focus,
    .o_main_navbar .o_menu_sections .dropdown.o-dropdown.show,
    .o_main_navbar .o_menu_systray .o-dropdown.dropdown.show,
    .o_main_navbar .o_menu_systray .o-dropdown.dropdown:hover,.o_main_navbar .o_menu_systray .o-dropdown.dropdown:focus,
    .o_main_navbar .o_menu_systray .dropdown:hover,
    .o_main_navbar .o_menu_systray .sh_calc_util:hover,.o_main_navbar .o_menu_systray .sh_calc_util:focus,
    .o_main_navbar .o_menu_systray .sh_bookmark_menu_list:hover,.o_main_navbar .o_menu_systray .sh_bookmark_menu_list:focus,
    .o_main_navbar .o_menu_systray .sh_bookmark_menu_list.show,
    .o_main_navbar .o_menu_systray .o_user_bookmark_menu:hover,.o_main_navbar .o_menu_systray .o_user_bookmark_menu:focus,
    .o_main_navbar .o_menu_systray .o_full_screen:hover,.o_main_navbar .o_menu_systray .o_full_screen:focus{background: $primaryColor;}
}