@if $modal_popup_style=='style_1' {
    /* style 1 */
    .modal .modal-dialog {
        transform: scale(0);
        transition: all .5s;
    }
    .modal-open .modal-dialog {
        transform: scale(1);
        transition: all .6s;
    }
    /* style 1 */
}

@if $modal_popup_style=='style_2' {
    /* style 2 */
    .modal .modal-dialog {
        transform: translateY(-100px);
        transition: all .5s;
    }
    .modal.show .modal-dialog {
        transform: none;
        transition: all .6s;
    }
    /* style 2 */
}

@if $modal_popup_style=='style_3' {
    /* style 3 */
    .modal .modal-dialog {
        transform: translateY(100px);
        transition: all .5s;
    }
    .modal.show .modal-dialog {
        transform: none;
        transition: all .6s;
    }
    /* style 3 */
}

@if $modal_popup_style=='style_4' {
    /* style 4 */
    .modal .modal-dialog {
        transform: translateX(100px);
        transition: all .5s;
    }
    .modal.show .modal-dialog {
        transform: none;
        transition: all .6s;
    }
    /* style 4 */
}

@if $modal_popup_style=='style_5' {
    /* style 5 */
    .modal .modal-dialog {
        transform: translateX(-100px);
        transition: all .5s;
    }
    .modal.show .modal-dialog {
        transform: none;
        transition: all .6s;
    }
    /* style 5 */
}

@if $modal_popup_style=='style_6' {
    /* style 6 */
    .modal .modal-dialog {
        transform: scale(0) rotate(360deg);
    }
    .modal.show .modal-dialog {
        transform: scale(1) rotate(0deg);
    }
    /* style 6 */
}

@if $modal_popup_style=='style_7' {
    /* style 7 */
    .modal .modal-dialog {
        transform: rotateX(-70deg) !important;
        transition: all .5s;
    }
    .modal.show .modal-dialog {
        transform: rotateX(0deg) !important;
        transition: all .5s;
    }
    /* style 7 */
}

@if $modal_popup_style=='style_8' {
    /* style 8 3D sign*/
    .modal {
        perspective: 1300px;
    }
    .modal .modal-dialog {
        transform: rotateX(-60deg) !important;
        transition: all .5s;
        transform-style: preserve-3d;
        transform-origin: 50% 0;
        transition: all 0.3s;
    }
    .modal.show .modal-dialog {
        transform: rotateX(0deg) !important;
        transition: all .6s;
    }
    /* style 8 */
}

@if $modal_popup_style=='style_9' {
    /* style 9 3D sign*/
    .modal {
        perspective: 1300px;
    }
    .modal .modal-dialog {
        transform: rotateX(60deg) !important;
        transition: all .5s;
        transform-style: preserve-3d;
        transform-origin: 50% 0;
        transition: all 0.3s;
    }
    .modal.show .modal-dialog {
        transform: rotateX(0deg) !important;
        transition: all .6s;
    }
    /* style 9 */
}

@if $modal_popup_style=='style_10' {
    /* style 10 slide fall */
    .modal {
        perspective: 1300px;
    }
    .modal .modal-dialog {
        transform: translate(30%) translateZ(600px) rotate(10deg) !important;
        transition: all .5s;
        transform-style: preserve-3d;
        transform-origin: 50% 0;
        transition: all 0.3s;
    }
    .modal.show .modal-dialog {
        transform: translate(0%) translateZ(0) rotate(0deg) !important;
        transition: all .6s;
    }
    /* style 10 */
}

@if $modal_popup_style=='style_11' {}