/*--separtor--*/

.o_form_view .o_horizontal_separator {
    position: relative;
    font-size: 15px;
}


/*--sep-1--*/

@if $separator_style=='style_1' {
    .o_form_view .o_horizontal_separator {
        border-bottom: 2px dashed $separator_color;
        width: 80%;
    }
    @media only screen and (max-width: 767.98px) {
        .o_form_view .o_horizontal_separator {
            width: 100%;
        }
    }
}


/*--sep-1--*/


/*--sep-2--*/

@if $separator_style=='style_2' {
    .o_form_view .o_horizontal_separator {
        position: relative;
        padding-left: 15px;
    }
    .o_form_view .o_horizontal_separator:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 6px solid $separator_color;
    }
}


/*--sep-2--*/


/*--sep-3--*/

@if $separator_style=='style_3' {
    .o_form_view .o_horizontal_separator:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: -3px;
        right: -3px;
        height: 3px;
        width: 97%;
        border-bottom: double;
        border-color: $separator_color;
    }
}


/*--sep-3--*/


/*--sep-4--*/

@if $separator_style=='style_4' {
    .o_form_view .o_horizontal_separator:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: -3px;
        right: -3px;
        height: 3px;
        width: 97%;
        border-bottom: 2px solid $separator_color;
    }
    @media only screen and (max-width: 767.98px) {
        .o_form_view .o_horizontal_separator:after {
            width: 100%;
        }
    }
}


/*--sep-4--*/


/*--sep-5--*/

@if $separator_style=='style_5' {
    .o_form_view .o_horizontal_separator {
        position: relative;
        display: grid;
        width: 80%;
    }
    .o_form_view .o_horizontal_separator:after {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        height: 5px;
        background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 6px, #000 7px, rgba(0, 0, 0, 0) 6px), -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 6px, #000 7px, rgba(0, 0, 0, 0) 6px);
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 6px, #000 7px, rgba(0, 0, 0, 0) 6px), linear-gradient(-45deg, rgba(0, 0, 0, 0) 6px, #000 7px, rgba(0, 0, 0, 0) 6px);
        background-size: 9px 10px;
        background-position: top left;
        background-repeat: repeat-x;
        content: "";
    }
    @media (max-width: 992px) and (min-width: 768px){
        .o_form_view .o_horizontal_separator{width: 98%;}
    }
    @media only screen and (max-width: 767.98px) {
        .o_form_view .o_horizontal_separator{width: 100%;}
    }
}


/*--sep-5--*/


/*--sep-6--*/

@if $separator_style=='style_6' {
    //.o_form_view .o_horizontal_separator{position:relative;width: 90%;}
    //.o_form_view .o_horizontal_separator:after {content: "";position: absolute;width: 65%;right: 0;top: 14px;border-bottom: 2px solid $separator_color;}
}


/*--sep-6--*/


/*--separtor--*/

.o_form_view .o_horizontal_separator:empty:after {
    display: none;
}