/*
=======================================================================
				List Inside Form Sticky Start
=======================================================================
*/

@if $is_sticky_list_inside_form==True {
    /* 19-10-2020 */
    .o_form_view .o_list_view .o_list_table thead th {
        position: sticky !important;
        top: 0;
        z-index: 0;
    }
    .o_form_view .o_list_view .o_list_table thead tr:nth-child(1) th {
        background-color: $o-list-footer-bg-color;
    }
    .modal .modal-dialog .modal-content .o_form_view .o_list_view .o_list_table thead th {
        position: sticky !important;
        top: 0;
        z-index: 1;
    }
    // Sticky Header & Footer in List View
    .o_list_view {
        .table-responsive {
            max-height: 300px;
            overflow-y: scroll;
            height: 220px;
            overflow-x: initial;
            display: inline-block;
        }
    }
}


/*
=======================================================================
				List Inside Form Sticky End
=======================================================================
*