/*
=======================================================================
				Chatter Sticky Start
=======================================================================
*/

@if $is_sticky_chatter==True {
    /* .o_Chatter_fixedPanel{position: sticky;top: 40px;z-index: 1;} */
    @if $is_sticky_form==True {
        .o_Chatter_fixedPanel {
            position: sticky;
            top: 40px;
            z-index: 1;
            /*  background-color: $o-list-footer-bg-color; */
        }
        @if $theme_style=="style_7"{
            .o_Chatter_fixedPanel{background: #fff;}
        }
    }
    @else {
        .o_Chatter_fixedPanel {
            position: sticky;
            top: 0px !important;
            z-index: 1;
            /* background-color: $o-list-footer-bg-color; */
        }
        @if $theme_style=="style_7"{
            .o_Chatter_fixedPanel{background: #fff;}
        }
    }
}


/*
=======================================================================
				Chatter Sticky End
=======================================================================
*/