<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Set Cookie attributes from odoo config file</h2>
        <h4 class="oe_slogan"><a href="https://www.open-inside.com">Openinside</a> </h4>
        <div>
            <h4>Set Cookie attributes from odoo config file</h4>
            
        </div>
     </div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;" href="mailto:odoo@open-inside.com" target="_blank">
        	<i class="fa fa-envelope"></i>
         	Email 
        </a>
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;" href="https://www.open-inside.com/page/contactus" target="_blank">
	        <i class="fa fa-phone"></i> 
	        Contact Us 
        </a>
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;" href="https://www.open-inside.com/openinside/products/" target="_blank">
	        <i class="fa fa-suitcase"></i>
	        Our Products 
        </a>
        
        <a href="https://www.open-inside.com/" target="_blank">
            <img src="new_logo.jpg" style="width: 150px; margin-top: 25px;" class="center-block">
        </a>
    </div>
</section>